.link_content_account {
  width: 100px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: 2px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
  padding: 0;
  margin: 0;
}

.link__icon {
  background-image: url(./../../images/account.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

